body{
    font-family:"Lato", sans-serif;
}

header{
    text-align: center;
}

div{
    background-color: cadetblue;
    border-radius: 5px;
    padding: 20px;
}

#survey-form{
    
}

input[text-type]:focus {
    border: 3px solid #555;
}